@import url("../component/buttons/base.css");
@import url("../layout/header.css");
@import url("../layout/main-container.css");
@import url("../component/inputs/base.css");
@import url("../component/tables/base.css");

.btn-login {
  color: var(--color-white);
}

.btn-nav {
  color: var(--color-white);
}

.hero-section {
  background-image:
    linear-gradient(rgba(10, 20, 40, 0.75), rgba(10, 20, 40, 0.75)),
    url("../../images/backgrounds/library-1-bg-sample.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
